@page "/"

<div class="d-flex flex-column w-100 align-items-center justify-content-center">
    <h1>Witaj w panelu admina kliniki ASP</h1>
    <h3>Poniżej znajduje się krótka instrukcja jak korzystać z panelu.</h3>

    <div class="d-flex flex-column align-items-center">
        <div>
            <p>Aby zobaczyć listę transakcji przejdź do zakładki <a href="/transactions">traksacje</a> </p>
        </div>
        <div>
            <p>Aby sporządzić raport przejdź do zakładki <a href="/raports">raporty</a></p>
        </div>
        <div>
            <p>Aby zobaczyć listę pacjentów przejdź do zakładki <a href="/patients">pacjenci</a></p>
        </div>
        <div>
            <p>Aby zobaczyć listę usług przejdź do zakładki <a href="/services">usługi</a></p>
        </div>
        <div>
            <p>Aby zobaczyć listę kategorii przejdź do zakładki <a href="/categories">kategorie</a></p>
        </div>
        <div>
            <p>Aby zobaczyć listę lekarzy przejdź do zakładki <a href="/doctors">lekarze</a></p>
        </div>
    </div>

    <div>
        W przypadku odkrycia błędu lub chęci dalszego rozwoju platformy <a href="/contact">zapraszam do kontaktu</a>
    </div>
</div>
