@inherits LayoutComponentBase

<div class="page m-0">
    <div class="main">
        <NavMenu />
        <div class="content px-4">
            @Body
        </div>
        <footer class="bg-dark text-center text-white fixed-bottom">
            Klinika ASP 2022 UG
        </footer>
    </div>
</div>
