<div class="d-flex bg-primary align-items-center justify-content-between">
    <a href="" class="text-light">KlinikaASP</a>
    <div class="d-flex align-items-center">
        <div class="nav-item px-3"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="oi oi-dollar" aria-hidden="true"></span> Transakcje
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="raports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Raporty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patients">
                <span class="oi oi-people" aria-hidden="true"></span> Pacjenci
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi oi-cart" aria-hidden="true"></span> Usługi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-plus" aria-hidden="true"></span> Kategorie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctors">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Lekarze
            </NavLink>
        </div>
        <div class="nav-item px-3"></div>
    </div>
</div>

